*{
    margin: 0;
    padding:0;
}
h1{ padding: 1rem;
    background-color: rgb(21, 131, 159);
    color:rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
    font-size: 6vmin;
    text-align: center;
}
body{
    background-color: rgb(211, 221, 202);
    text-align:center;
}
.container{
    height:70vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;
}
.box{
    font-size: 10vmin;
    text-align: center;
    height:18vmin;
    width: 18vmin;
    border-radius:1rem;
    border: none;
    box-shadow:0 0 1rem black;
    background-color: azure;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: burlywood;
    color:rgb(0, 0, 0);
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
    font-size: 4vmin;
    text-align: center;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: burlywood;
    color:rgb(0, 0, 0);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(3, 3, 3);
    text-align: center;
}
#msg{
    padding: 1rem;
    background-color: rgba(3, 131, 5, 0.871);
    color:rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
    font-size: 6vmin;
    text-align: center;
    
}
.msg-container{
    height: 100vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:20vmin;
}
.hide{
    display:none;
}